In [5]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\kassab\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\kassab\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kassab\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kassab\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kassab\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\kassab\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [272]:
import pandas as pd

In [274]:
df = pd.read_csv("spotify_millsongdata.csv")

In [275]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [276]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [277]:
df.shape

(57650, 4)

In [282]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [284]:
df= df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [286]:
df.head(5)

,artist,song,text
0,Lenny Kravitz,God Save Us All,We need a leader \r\nWe can't seem to help ou...
1,Velvet Underground,I Found A Reason,"Ba-ba-ba-ba, ba-ba-ba-ba \r\nBa-ba-ba-ba, ba-..."
2,Rainbow,Sixteenth Century Greensleeves,It's only been an hour \r\nSince he locked he...
3,Christy Moore,Folk Tale,A young man fell in love with truth \r\nIn se...
4,Face To Face,The New Way,"You're alright, you're alive, you're the numbe..."

In [288]:
df['text'][0]

"We need a leader  \r\nWe can't seem to help ourselves  \r\nFighting and lying  \r\nWe can't seem to let it go  \r\nWe live each day  \r\nOn a small piece of borrowed time  \r\nWhy aren't we trying  \r\nTo enjoy this crazy ride  \r\nWhat are we gonna do about it ?  \r\n  \r\nGod save us all  \r\nGod save us all  \r\nGod save us all  \r\nIf we really try  \r\nMaybe we can make it  \r\n  \r\nWe need a teacher  \r\nWe must learn to see the light  \r\nLet's get together  \r\nThis world needs us to do right  \r\nThere's too much poverty, sickness  \r\nThere's pain and strife  \r\nWhy aren't we trying  \r\nTo improve this thing called life  \r\nWhat are we gonna do about it ?  \r\n  \r\nGod save us all  \r\nGod save us all  \r\nGod save us all  \r\nIf we really try  \r\nMaybe we can make it\r\n\r\n"

In [290]:
df.shape

(5000, 3)

Text Cleaning/ Text Processing

In [293]:
df['text']= df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n', ' ', regex=True)

In [295]:
 !pip install nltk

Requirement already satisfied: nltk in c:\users\kassab\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\kassab\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\kassab\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\kassab\anaconda3\lib\site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\kassab\anaconda3\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\users\kassab\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [296]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\kassab\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [297]:
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\kassab\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [298]:
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import word_tokenize
import nltk

stemmer = PorterStemmer()

def token(txt):
    tokens = word_tokenize(txt)
    a = [stemmer.stem(w) for w in tokens]
    return " ".join(a)

print(token("you are beautiful, beauti" ))

you are beauti , beauti

In [299]:
df['text'].apply(lambda x: token(x))

0       we need a leader we ca n't seem to help oursel...
1       ba-ba-ba-ba , ba-ba-ba-ba ba-ba-ba-ba , ba-ba-...
2       it 's onli been an hour sinc he lock her in th...
3       a young man fell in love with truth in search ...
4       you 're alright , you 're aliv , you 're the n...
                              ...
4995    from your mother ' breast to the vatican step ...
4996    kurasakan ku harapkan kasih sayang di hatimu s...
4997    as i lay me down , heaven hear me now . i 'm l...
4998    anyth goe on in your trip did you happen to pl...
4999    [ choru ] how strong is my love ? how strong i...
Name: text, Length: 5000, dtype: object

In [300]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [301]:
tfid = TfidfVectorizer(analyzer='word', stop_words='english')

In [302]:
matrix= tfid.fit_transform(df['text'])

In [303]:
similer = cosine_similarity(matrix)

In [304]:
similer[0]

array([1.00000000e+00, 3.38089367e-04, 3.42126439e-02, ...,
       2.13841699e-02, 2.25939516e-02, 7.01040922e-03])

In [307]:
df[df['song']=='God Save Us All'].index[0]

0

Recommender Function

In [316]:
def recommender(song_name):
    idx = df[df['song']== song_name].index[0]
    distance = sorted(list(enumerate(similer[idx])), reverse=True , key = lambda x:x[1])
    song = []
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [318]:
recommender("In Your Eyes")

['Whole World Is Watching',
 'Anyone But You',
 'Wheels',
 'Coming Up',
 'Take My Breath Away',
 'World In A Bottle',
 'Love You By Heart',
 'Beautiful World',
 'Young Love',
 'Boy',
 'Eli',
 'Think It Over',
 "Don't Leave Me This Way",
 'Road Outside Columbus',
 'Love To See You Cry',
 'Have I Told You Lately That I Love You',
 'You Took My Breath Away',
 'Give Me Your Heart',
 "Hold On I'm Coming",
 'All I Want To Do']

In [320]:
import pickle

In [322]:
pickle.dump(similer,open("similarity", "wb"))

In [326]:
pickle.dump(df,open("similarity", "wb"))